 
.section{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-color);
 position: fixed;
 top: 0;
 left: 0%;
 z-index: 110;
 overflow: hidden;
}
.section .cover{
  padding: 1rem;
  overflow: hidden;
}
.section .wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 800px;
  overflow: hidden;
}
.section span{
  color: var(--white-color);
  font-size: 3rem;
  font-weight: 600;
  width: fit-content;
}
.section .A{
  transform-origin: bottom center;
  transform-style: preserve-3d;
  transform: rotateX(180deg);
  /* background-color: red; */
  height: 100px;
  width: fit-content;
  display: flex;
  align-items: center;
}
.flip {
  width: 20px;
  height: 73px;
  perspective: 1000px; /* يعطي عمق ثلاثي الأبعاد */
  overflow: hidden;
  /* background-color: blue; */
}
.flip-inner {
  width: 100%;
  height: 100%;
  transform: translateY(90px);
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d; /* مهم للحفاظ على ثلاثية الأبعاد */
  cursor: pointer;
  /* background-color: green; */
}
.face,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* يخفي الوجه الخلفي عند الدوران */
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  font-size: 3rem;
  font-weight: 600;
}
.back {
  transform: rotateY(180deg); /* الخلف يدور لتصبح مواجهًا بعد الدوران */
}
.flip img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0.2);
  opacity: 0;
  width: 20px;
  height: 20px;
}
.wrapper .g-con{
  /* background-color: green; */
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}
.wrapper .g-con .g{
  transform: translateY(-200px);
}
.wrapper .e-con{
  height: 103px;
  /* background-color: green; */
  display: flex;
  align-items: center;
  overflow: hidden;
}
.wrapper .e-con .content-img-word{
  display: flex;
  align-items: center;
  transform: translateX(-12px);
}
.wrapper .e-con .content-img-word .img-word{
  /* background-color: blue; */
  height: 103px;
  width: 30px;
  position: relative;
  /* display: flex; */
  /* align-items: center; */
  /* color: rgb(165, 111, 209); */
  /* color: rgb(241, 140, 93); */
  /* color: rgb(81, 168, 81); */
}
.wrapper .e-con .content-img-word .img-word span{
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.wrapper .e-con .content-img-word .img-word img{
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) rotate(0deg);
  animation: rotate 1s linear infinite;
  display: none;
}
@keyframes rotate {
  to{
    transform:translateX(-50%) rotate(360deg);
  }
}
.aletter{
  /* background-color: red; */
  height: 43px;
  width: 27px;
  position: relative;
  overflow: hidden;
  /* display: none; */
}
.aletter .contentletter {
  display: flex;
  flex-direction: column;
  justify-content: start;
  /* height: 163px; */
  /* background-color: blue; */
  position: absolute;
  bottom: 50px;
}
.aletter .contentletter span{
  height: 45px;
  display: flex;
  align-items: center;
  /* background-color: green; */
}
.wletter{
  transform: scale(0.2) ;
  opacity: 0;
}
.yletter{
  transform: rotate(-90deg);
  opacity: 0;
}
/* =========== */
header{
    z-index: 100;
    transition: 2s ease;
    position: fixed;
    display: flex;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100vw;
    transition: .3s ease-out;
}
header.sticky{
    left: 0;
    top: 30px;
    width: 100vw;
}
header.sticky.top{
    left: 0;
    top: -100px;
    width: 100vw;
}
 .header-content {
    padding: 15px 4.5% 15px 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    transition: .3s ease-out;
    position: relative;
}
 .header-content{
    background-color: var(--white-color);
 }
header.sticky .header-content{
    padding: 15px 3% 15px 3%;
    width: 90%;
    border-radius: 40px;
    transition: .3s ease-out;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
} 
header .header-content  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    text-align: center;
    transition-delay: 1s ease;
    opacity: 1;
}
header .header-content  nav .navigate-container{
    display: flex;
    border-radius: 40px;
    padding: .8rem 1.5rem .9rem;
    gap: 1.6rem;
    position: relative;
    top: 0;
}

header .header-content  .logo{
    display: flex;
    align-items: center;
    gap: 1rem;
    white-space: nowrap;
    min-width: 28%;
    position: relative;
    left: 0;
    cursor: pointer;
}


header .header-content  .logo p{
    font-size: 1.7rem;
    margin: 0;
    font-weight: 600;
}

 header .header-content  nav .navigate-container .pro{
    width: 5.5rem;
}  
 header .header-content  nav .navigate {
    display: flex;
    justify-content: start;
    cursor: pointer;
    z-index: 4;
    position: relative;
    height: 1.6rem;
    width: 4rem;
    overflow: hidden;
    text-align: center;
}
 header .header-content  nav .service {
    width: 4.9rem;
}

 header .header-content  nav .navigate.active .navigate-content span{
    color: var(--black-color);
 }
.navigate .navigate-content{
    top: 0rem;
    position: relative;
    transition: .3s ease;
    transition-delay: calc(var(--i) * 0.02s);
    height: 1.6rem;
}
.navigate:hover .navigate-content{
    top: -1.6rem;
}
.navigate .navigate-content span:nth-of-type(2){
    color: var(--black-color);
}
header .header-content  nav .activenav{
    position: absolute;
    bottom: .5rem;
    border-radius: 40px;
    height: 2.3rem;
    background-color: var(--black-color);

    transition: .5s ease-in;
}

.navigate .navigate-content span{
    display: block;
    height: 26px;
    font-size: 1.2rem;
    color: rgb(126, 126, 126);
}

header .header-content .dots{
    display: none;
    gap: 2px;
    cursor: pointer;
    min-width: 2.5rem;
    text-align: center;
}
header .header-content .dots span{
    width: 8px;
    height: 8px;
    background-color: black;
    border-radius: 50%;
    padding: 2px;
}
header .header-content .dots.active{
    display: flex;
}
/* header .header-content  nav.active{
    display: none;
} */
header .header-content  nav .btns-con .contact-con{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .2rem .2rem .2rem 1.1rem;
    /* background-color: var(--black-color); */
    background-color: var(--black-color);
    border-radius: 25px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border: 1.9px solid var(--black-color);
    transition: .5s ease;
}

header .header-content  nav .btns-con .contact-con::before{
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    background-color: var(--white-color);
    top: 50%;
    transform: translateY(-50%);
    right: .4rem;
    border-radius: 50%;
    transition: .5s ease-in;
    z-index: 2;
}
header .header-content  nav .btns-con .contact-con p{
    margin: 0;
    color: var(--white-color);
    z-index: 3;
    white-space: nowrap;
    font-size: 1.2rem;
    /* padding-bottom: .1rem; */
    transition: .7s ease-in;
}
header .header-content  nav .btns-con {
    display: flex;
    align-items: center;
    gap: .5rem;
    position: relative;
    right: 0;
    /* right: -18rem; */
    /* animation: animatethree 1s ease-out forwards; */
}
@keyframes animatethree {
    0%{
        right: -18rem;
    }
    100%{
        right: 0rem;
    }
}
header .header-content  nav .btns-con .contact-con .icon-con{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    color: var(--black-color);
    font-size: 1rem;
    transform: rotate(-50deg) translateZ(0);
    transition:  0.3s ease;
    will-change: transform;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    /* border: 1.9px solid var(--black-color); */
    z-index: 3;
}
header .header-content  nav .btns-con .contact-con:hover .icon-con{
    transform: rotate(0deg) translateZ(0);
}
header .header-content  nav .btns-con .contact-con:hover::before{
    width: 20rem;
    height: 20rem;
    right: -4.5rem;
}
header .header-content  nav .btns-con .contact-con:hover p{
    color: var(--black-color);
}
header .header-content .theme-menu{
    display: flex;
    align-items: center;
    gap: 1.2rem;
}
header .header-content .theme-menu .theme-con{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black-color);
    color: var(--white-color);
    font-size: 1.3rem;
    cursor: pointer;
    margin-left: .5rem;
}
header .header-content .theme-menu .menu{
    height: 3.4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    display: none;
    z-index: 2;
}
header .header-content .theme-menu .menu span{
   display: block;
   width: 1.6rem;
   height: 1.8px;
   background-color: var(--black-color);
   border-radius: 20px;
   transition: .3s ease-out;
   z-index: -1;
}
header .header-content .theme-menu .menu .bottom{
    margin-top: .5rem;
    width: .8rem;
}
header .header-content .theme-menu .menu.active .top{
    transform: translateY(5px) rotate(-45deg);
}
header .header-content .theme-menu .menu.active .bottom{
    transform: translateY(-5px) rotate(45deg);
    width: 1.6rem;
}
header .header-content .theme-menu .menu:hover .bottom{
    width: 1.6rem;
}
@media (max-width:768px){
    header .header-content  nav .navigate .navigate-content:nth-of-type(1) span{
        margin-left: 0;
     }
    header.sticky .header-content{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
@media (min-width:768px) and (max-width:1072px) {
         header .header-content  nav .navigate .navigate-content:nth-of-type(1) span{
        margin-left: 3.3rem;
     }
}
@media (max-width:1072px) {
    /* header {
        transition: .8s ease-out;
    } */
    header .header-content  nav{
        display: block;
        position: absolute;
        top: 5.2rem;
        width: 100%;
        height: 0rem;
        overflow: hidden;
        left: 0;
        /* transform: translateX(-50%); */
        background-color: var(--white-color);
        transition: .6s ease-out;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
        /* background-color: red; */
    }
        header .header-content  nav.active{
            height: 24.5rem;
            box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
            /* left: 0; */
            /* width: 100%; */
            /* transform: translateX(0); */
        }
    header .header-content  nav .navigate-container{
        flex-direction: column;
        gap: 0;
    }
    header .header-content .theme-menu .menu{
        display: flex;
    }
    header .header-content  .logo .img-con.translateTop{
        transform: scale(1.4);
        top: -4rem;
        left: 4rem;
    }
    header.sticky .header-content.active{
        
        transition: .6s ease-in;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

     header .header-content  nav .navigate {
    position: relative;
    justify-content: start;
     width: 100% !important;
     margin-top: .9rem ;
     height: 2.3rem;
     /* border-bottom: 1px solid var(--black-color); */
     }
     header .header-content  nav .navigate .navigate-content span{
        height: 35.5px;
     }


    .navigate:hover .navigate-content{
        top: -2.4rem;
    }
    /* ========================= */
    header .header-content  nav .activenav{
    height: 2.3rem;
}
.navigate .navigate-content{
    transition-delay: calc(var(--i) * 0s);
}
header .header-content  nav .activenav.Home{
    left: 3rem;
    top: 1.3rem;
    width: 6.7rem;
}
header .header-content  nav .activenav.About{
    left: 3rem;
    top: 4.7rem;
    width: 7rem;
}
header .header-content  nav .activenav.service{
    left: 3rem;
    top: 8.1rem;
    width: 6rem;
}
header .header-content  nav .activenav.projects{
    left: 3rem;
    top: 11.5rem;
    width: 8.5rem;
}
header .header-content  nav .btns-con{
    justify-content: space-between;
    /* margin-left: 2.8rem;
    margin-top: 3rem; */
    margin: 3rem 2.8rem 0 2.8rem;
}
header .header-content  nav .btns-con .contact-con{
    /* gap: 38rem; */
    width: 100%;
    justify-content: space-between;
}
header .header-content  nav .btns-con .contact-con:hover::before{
    width: 65rem;
    height: 65rem;
    right: -4.5rem;
}
header.sticky.active .header-content{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
}


/* =========================== */
/* ================ start footer =============== */

footer{
  position: absolute;
  z-index: 1;
  background-color: var(--white-color);

}

footer .footer-content{
  padding: 3%;
}
footer .footer-content .text-con{
    display: flex;
    /* justify-content: center; */
    margin: 4rem 0;
}
footer .footer-content .text{
    font-weight: 700;
    font-size: clamp(1.5rem , 5vw , 3.2rem);
    color: rgba(10, 10, 10, 0.6);
    /* width: 70%; */
    /* text-align: center; */

}
footer .footer-content .text span{
  color: var(--black-color);
}
/* footer .footer-content .text .stroke {
   color: transparent;
   -webkit-text-stroke: 1px black;
} */
footer .footer-content .row .item .icon {
  margin-bottom: 5rem;
}
footer .footer-content .row .item .icon i{
  color: rgb(199, 199, 199);
  font-size: 1.3rem;
}
footer .footer-content .row .item .number{
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--black-color);
}
footer .footer-content .row .item .email{
  display: flex;
  align-items: center;
  gap: .3rem;
  position: relative;
  cursor: pointer;
}
footer .footer-content .row .item .email::before{
  content: "";
  position: absolute;
  height: 1px;
  width: 0;
  bottom: -.3rem;
  transition: .5s ease-out;
  left: 0;
  background-color: rgba(10, 10, 10, 0.6);
}
footer .footer-content .row .item .email:hover::before{
  width: 50%;
}
footer .footer-content .row .item .email .icon-con{
  width: 22px;
  height: 22px;
  background-color: var(--black-color);
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  /* padding-left: .8px; */
  border-radius: 50%;
  transform: rotate(0deg);
  transition: .2s ease;
}
footer .footer-content .row .item .email:hover .icon-con{
  transform: rotate(90deg);
}
footer .footer-content .row .item .email h2{
  font-size: 1.8rem;
  font-weight: 500;
  margin: 0;
}
footer .footer-content .row .item .nav{
  font-size: 0.9rem;
  font-weight: 500;
  color: gray;
  margin-bottom: 1rem;
}
footer .footer-content .row .item .links p{
   font-size: 1.5rem;
   color: var(--black-color);
   margin: 0;
   font-weight: 500;
   margin-bottom: .3rem;
   transition: .3s ease-out;
   cursor: pointer;
   position: relative;
   overflow: hidden;
}
footer .footer-content .row .item .links p::before{
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -.8rem;
  width: 10px;
  height: 10px;
  background-color: gray;
  transition: .3s ease-out;
  border-radius: 50%;
}
footer .footer-content .row .item .links p:hover{
  padding-left: 1.3rem;
}
footer .footer-content .row .item .links p:hover::before{
  left: .2rem;
}
footer .footer-content .row .item .social{
  font-size: 0.9rem;
  font-weight: 500;
  color: gray;
  margin-bottom: 1rem;
}
footer .footer-content .row .item .social-con .item{
   display: flex;
   align-items: center;
   gap: .6rem;
   width: 2.3rem;
   transition: .5s ease;
   overflow: hidden;
   /* background-color: red; */
   margin-bottom: 1rem;
   padding-left: .8rem;
   cursor: pointer;
}
footer .footer-content .row .item .social-con .item:hover{
   width: 80%;
}
footer .footer-content .row .item .social-con .item .icon-con i{
  font-size: 1.6rem;
}
footer .footer-content .row .item .social-con .item .name{
     font-weight: 500;
     font-size: 1.5rem;
     color: var(--black-color);
}
footer .footer-content .title{
  text-align: center;
  position: relative;
  height: 15rem;
  margin-bottom: 4rem;
  /* z-index: -1; */

}
footer .footer-content .title h1{
  position: absolute;
  bottom: 0rem;
  right: 0;
  /* transform: translateY(-55rem); */
   font-size: clamp(4.5rem, 10vw, 9rem);
   font-weight: 600;
   /* -webkit-text-stroke: 2px rgb(44, 44, 44); */
   margin: 0;
   width: 100%;
   text-align: right;
   color: var(--black-color);
   /* color: var(--white-color); */
}
footer .last-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--black-color);
  padding: 3rem;
}
footer .last-footer p{
  font-weight: 1rem;
  margin: 0;
  color: var(--white-color);
}
@media (max-width:768px) {
  footer .footer-content .row .margin{
    margin-bottom: 5rem;
    text-align: center;
  }
  footer .footer-content .row .item .icon {
  margin-bottom: 2rem;
}
footer .last-footer{
  flex-direction: column;
    padding: 2rem 1rem;
}
footer .last-footer p:nth-of-type(1){
  margin-bottom: 1rem;
}
footer .footer-content{
  margin-top: 9rem;
}
footer .footer-content .col-footer{
  display: flex;
  justify-content: center;
  text-align: center;
}
footer .footer-content .row .item .nav{
  justify-content: center;
}
footer .footer-content .row .item .social-con .item{
   width: 100%;
}
footer .footer-content .row .item .social-con .item:hover{
   width: 100%;
}
  footer .footer-content .row .item .email:hover::before{
  width: 100%;
}
footer .footer-content .text{
  width: 100%;
}

footer .footer-content .title h1{
text-align: center; 
}
footer .footer-content .title{
  height: 5rem;
}
footer .footer-content .text-con{
    margin: 0 0 4rem ;
}

}
@media (min-width:769px) and (max-width:992px){
  footer .footer-content .row .item .email:hover::before{
  width: 80%;
}
footer .footer-content .text{
  width: 100%;
}
footer .footer-content .title h1{
text-align: center;
}
}

/* ================ end footer =============== */





